
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer-main {
	padding-top: 4rem;
    padding-bottom: 3rem;
}

#copyrights {
	font-size: 0.75rem;
	color: #cccccc;
}
